<div class="welcomeA">
  <div id="columns">
    <% @posts.each do |p| %>
      <a href="/real_story/<%=p.id%>">
        <figure>
            <% if p.image.first.nil? %>
              <img src="/assets/9.jpg"></img>
            <% else %>
                <%= image_tag p.image.first %>
            <% end %>
            <div class="content">
              <figcaption><%= p.title %></figcaption>
              <div class="like">
                <i style="color: rgb(184,0,0);" class="fas fa-skull"></i>
                <p><%= p.liked_users.size%>명</p>
              </div>
            </div>
        </figure>
      </a>
    <% end %>
  </div>
</div>
