a{
    text-decoration: none !important;
}

button{
    background-color:transparent ;
}
input:focus{
    outline:none!important;
}
textarea:focus{
    outline:none!important;
}
button:focus{
    outline:none!important;
}
/* 기본색상 */
.bx-wrapper .bx-controls-direction a{
    z-index:80!important;
    color:white !important;
    margin-bottom:0!important;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    background-color:white!important;
    border:1px solid #212121!important;
}
.bx-wrapper{
    margin-bottom: 10px !important;
}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background:rgb(184,0,0)!important;
}

body{
    font-family: '맑은 고딕',
    'Apple SD Gothic Neo',
    sans-serif;
    margin:0;
    font-size: 16px;
    background-color:white!important;
    color: #212121;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color:white;
    border-bottom: 1px solid #c7c7c7;
}

.headA {
    width: 156px;
    font-size: 30px !important;
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    line-height: 70px;
    color: #212121;
    font-size: 30px;
    text-decoration: none;
    transition:.2s;
}
.headA:hover{
    color:rgb(184,0,0);
    transition:.2s;
}

.headB ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.headB a {
    display: block;
    padding: 15px;
    color: #212121;
    font-size: 24px;
    text-decoration: none;
    transition: 1s ease;
}

.headB a:hover{
    color: rgb(184,0,0);
    transition: 1s ease;
}

.headB ul{
    display: flex;
}

.headB #user_func{
    border:none;
    cursor: pointer;
    padding: 15px;
    font-size:24px;
}
.headB .dropdown-menu{
    border:none;
    border-left:1px solid #c7c7c7;
    margin-top: 3px;
    background-color:rgba(255,255,255,0.7);
    
}
.headB .dropdown-menu a{
    font-size: 15px!important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
@media(min-width:768px){
    header .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(min-width:768px){
    .headC {
        display: none;
    }
}

@media(max-width:767px){
    header .container-small{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    header .search{
        display:none;
    }

    .headB{
        display: none;
    }

    .headC{
        color:white;
        margin-right: 10px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        font-size: 28px;
        opacity: 0.5;
        cursor: pointer;
    }

    .headC:hover{
        opacity: 0.3;
    }
}
.my-control{
    max-width: 50px;
    font-size:10px!important;
    border-radius: 0;
    border:none;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 2px;
    color: #212121;
}

.my-control:focus{
    outline:none;
}
header .search{
    border: 1px solid #c7c7c7;
    border-radius: 10px;
}

.myinput{
    max-width: 100px;
    font-family: '맑은 고딕',
    'Apple SD Gothic Neo',
    sans-serif;
    border-radius:2px;
    border: none;
    display: inline-block;
    padding: 2px 20px;
    background-color: transparent;
    margin-right: 2px;
}
.myinput:focus{
    outline:none;
}

.mybtn{
    border:none;
    background-color: transparent;
    margin-left: 0;
    display: inline-block;
    padding: 2px 20px;
    border-radius: 2px;
}

.mybtn:focus{
    outline:none;
}

footer{
    margin-top:70px;
}
footer .nav{
    border-top:solid 1px #c7c7c7;
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
    background:white;
    display: flex;
    align-items:center;
}

footer .nav ul{
    width:100%;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left:0;
    margin-left:0;
    margin-bottom:0;
}

footer .nav li{
    text-align: center;
    flex: 1;
}

footer .nav a{
    color:#212121;
    text-decoration: none;
    font-size:24px;
    transition: .2s;
}

footer .nav a:hover{
    color:rgb(184,0,0);
    transition: .2s;
}

@media(min-width:768px){
    footer .nav{
        display: none;
    }
}

.listA {
    padding-top: 50px;
    margin-top : 70px;
    margin-bottom: 0;
}

.listA a{
    text-decoration: none;
}

.listA .container{
    max-width:1000px;
    margin-left:auto;
    margin-right: auto;
}

.listA .card-title{
    margin-top:10px;
    margin-left:20px;
    margin-right: 20px;
    margin-bottom:0;
}


.listA .mycard .card-title h1{
    border-bottom:1px solid #c7c7c7;
    margin-bottom: 0;
    padding-bottom:0;
    font-size: 30px;
    letter-spacing: 4px;
    overflow:hidden;
    text-overflow:ellipsis;
    word-wrap:break-word;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
}

.listA .mycard .content p{
    margin-bottom:0;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 2px;
}
.listA .mycard .content .icon .search{
    font-size:24px;
    color: #212121;
    border:none;
    cursor:pointer;
    transition: .15s;
}
.listA .mycard .content .icon .search:hover{
    color:rgb(184,0,0);
    transition: .15s;
}
.listA .mycard .content .icon button{
    font-size:24px;
    color:transparent;
    padding-left:0 !important;
    border:none;
    color:black;
    cursor:pointer;
}
.listA .mycard .reply p {
    overflow:hidden;
    text-overflow:ellipsis;
    word-wrap:break-word;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    margin-bottom:0;
}


.listA .mycard .reply-content {
    display:flex;
}

.listA .mycard .reply-content i{
    margin-left: 8px;
}

.listA .mycard .reply-master{
    display:flex;
}

.listA .mycard .reply-m1{
    display: flex;
}

.listA .mycard .reply-m1 .c1{
    color:#212121;
    flex:13;
}

.listA .mycard .reply-m1 .c2{
    margin-left:5px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listA .mycard .reply a{
    display: flex;
    align-items: center;
}
.listA .mycard{
    /*box-shadow: 3px 3px 5px rgb(81,81,81);*/
    font-family: 'Yeon Sung', cursive;
    margin: 10px 20px;
    min-height: 200px;
    min-width: 200px;
    border: solid 1px #c7c7c7;
    border-radius: 5px;
    color:#212121;
    background-color: transparent;
    margin-bottom: 30px;
}
.listA .mycard .card-photo2{
    background-color: white;
    width:600px;
    display: flex;
    align-items:center!important;
    justify-content:center!important;
}
.listA .mycard .card-photo2 img{
    height: 400px;
}
.listA .mycard .card-photo{
    width: 600px;
    height:400px;
    background-image:url(9.jpg);
    background-position: center;
    background-size: cover;
}

.listA .mycard .bx-wrapper{
    border:none;
    background-color:black;
    box-shadow:none;
}

.listA .mycard .card-body{
    margin-top:3px;
}

@media(min-width:768px){
   .listA .container{
       display: flex;
       max-width: 1000px;
       margin-left:auto;
       margin-right:auto;
   }
   .listA .news{
       flex: 1 1 600px;
   }
   
   .listA .navi{
       flex: 1 1 400px;
   }
}



.listA .navi {
    height: 100%;
    width: 160px;
    padding-right: 0;
    background-color: #111;
    overflow-x: hidden;
}
.listA .navi-smail{
    padding-top:48px;
    position: fixed;
    margin-right:0;
}
.listA .navi .edit{
    margin-left:10px;
}

.listA .navi .edit i{
    margin-right: 10px;
    font-size:16px;
}

.listA .navi .edit .new{
    margin-right:45px;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.listA .navi ul{
    list-style: none;
}
.listA .navi a {
    text-align:left;
    text-decoration: none;
    font-size: 25px;
    color: #212121;
    display: block;
    transition: .15s ease;
}
.listA .navi a:hover {
    color:rgb(184,0,0);
    transition: .15s ease;
}

.listA .content{
    margin-top:0!important;
    margin:10px 20px;
}

.listA .icon{
    margin-top:10px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.listA .icon a{
    color: #212121;
    transition: .15s;
}

.listA .icon a:hover{
    color: #bf360c;
    transition: .15s;
}

#columns{
    column-width:300px;
    column-gap: 15px;
}
#columns figure{
    display: inline-block;
    margin:0;
    margin-bottom: 15px;
    padding:10px;
    border-radius: 5px;
    transition: .5s;
}

#columns figure .content{
    font-size: 14px;
    display: flex;
    justify-content:space-between;
}

#columns figure .like{
    min-width: 48px;
    margin-top:10px;
    display: flex;
    align-items:center;
}
#columns figure .like p{
    color: #212121;
    font-family: 'Yeon Sung', cursive;
    margin-left: 5px;
    margin-bottom: 0;
}

#columns figure:hover{
    box-shadow: 1px 1px #c7c7c7;
    /*background-color: #eeeeee!important;*/
    transition: .5s;
    transform: scale(1.04);
}

#columns figure img{
    border-radius: 5px;
    width:300px;
}

#columns figure figcaption{
    font-family: 'Yeon Sung', cursive;
    letter-spacing: 1px;
    font-size: 16px;
    padding:10px;
    color:#212121;
    overflow:hidden;
    text-overflow:ellipsis;
    word-wrap:break-word;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    padding-bottom: 0;
}

#columns a{
    text-decoration: none;
    transition: 1s;
    color: #fafafa;
}

.welcomeA {
    margin-top: 70px;
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.reply_icon{
    color:white;
}
.create{
    margin-top: 70px;
    color: #212121;
}
.create .container{
    padding-top: 100px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.create .my-btn{
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 10px;
    background-color: transparent;
    color: rgb(184, 0, 0);
    border : solid 2px rgb(184, 0, 0);
    border-radius: 5px;
    transition: .15s;
}

.create .my-btn:hover{
    background-color:rgb(184, 0, 0);
    color: white;
    transition: .15s;
}

.listA .bookmark{
    min-width: 250px;
    font-size: 30px;
    border: solid 1px #c7c7c7;
    border-radius: 5px;
    padding-left: 0;
    margin-left: 40px;
    padding-top: 20px;
    overflow-y: scroll; 
    height:400px;
    padding-left:20px;
    padding-right:20px;
    /*box-shadow: 3px 3px 5px rgb(81,81,81);*/
}

.listA .show-bar{
    margin-top:5px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.listA .show-bar .btn{
    padding:0;
}

.listA .show-bar .btn:focus{
    outline:none!important;
}

.listA .mycard .detail {
    margin-left:20px;
    margin-right:20px;
}



.listA .mycard .modal-btn{
    cursor:pointer;
    border:none;
    font-size:12px;
}

.listA .mycard .detail ul{
    padding-left:0;
    margin-left:0;
    list-style: none;
    margin-bottom:0;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}
.listA .mycard .detail li{
    margin-top: 0;
    margin-bottom:5px;
    margin-right:5px;
}

.listA .mycard .detail p{
    padding-top: 3px;
    margin-bottom: 0;
    margin-left:2px;
    font-size:10px;
}

.listA .mycard .detail .edit{
    margin-left: 5px;
}
.listA .mycard .detail .edit a{
    text-decoration: none;
    color: #212121;
    font-size:12px;
    margin-right:5px;
}

.listA .thumb-photo img{
    padding:1px;
    /*box-shadow: 0 3px 3px #c7c7c7;*/
    border: 1px solid rgb(184,0,0);
    border-radius:50%;
    width: 40px;
    height:40px;
    /*background-image:url(bg.jpg);*/
    /*background-position: center;*/
    /*background-size: cover;*/
}


.listA .thumb-photo2 img{
    padding:1px;
    border: 1px solid rgb(184,0,0);
    /*box-shadow: 0 3px 3px #d7d7d7;*/
    border-radius:50%;
    width: 40px;
    height:40px;
}

.listA .bookmark li{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
}

.listA .bookmark h1{
    font-family: 'Yeon Sung', cursive;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 1px;
    color: #212121;
    margin-left : 20px;
    margin-right : 20px;
    margin-bottom:0;
    width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    word-wrap:break-word;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;

}

.listA .bookmark .icon{
    color: #212121;
    font-size: 15px;
    margin-bottom: 0px;
}
.listA .reply-input{
    border-radius: 5px;
    padding-left: 15px;
    border:solid 1px white;
    background-color: transparent;
}
.listA .reply-button{
    background-color: transparent;
    color: rgb(184,0,0);
    border-radius: 4px;
    border:solid 2px rgb(184,0,0);
    transition: .15s;
}

.listA .reply-button:hover{
    background-color: rgb(184,0,0);
    color:white;
    transition: .15s;
}

.new .modal-header{
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.new .modal-footer{
    padding-left:0;
    padding-right:0;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.new form{
    padding-left:16px;
    padding-right: 16px
}

.new .my-btn{
    display: inline-block;
    padding: 0 5px;
    background-color: transparent;
    color: rgb(184, 0, 0);
    border : solid 2px rgb(184, 0, 0);
    border-radius: 5px;
    transition: .15s;
}

.new .my-btn:hover{
    background-color:rgb(184, 0, 0);
    color: white;
    transition: .15s;
}

.view-modal .modal-lg{
    max-width: 1000px;
}

.view-modal .modal-body{
    display:flex;
}

.view-modal .modal-body .image{
    flex:2;
}

.view-modal .modal-body .content{
    flex:1;
}

.view-modal .modal-body .content p{
    overflow-y: scroll; 
    height:600px;
}

a#MOVE_TOP_BTN {
    display: none;
    border-radius: 50%;
    background-color:rgb(184,0,0);
    color:white;
    height:40px;
    width:40px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.top-btn .container{
    max-width: 1000px;
    margin-left: auto;
    margin-right:auto;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}

.top-btn{
    width: 100%;
    position: fixed;
    background-color:transparent;
    height: 70px;
    z-index: 999;
    bottom:10px;
}

@media(max-width:767px){
    .top-btn{
        bottom:50px;
    }
}

.move{
    font-size:24px;
    top:72px;
    z-index:99;
    position: absolute;
    width: 700px;
    height: 70px;
    background-color: transparent;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode:both
    
}

@keyframes move {
    /* keyframe */
    from {
    left: 0;
    }
    /* keyframe */
    to {
    left: 250px;
    }
}
